body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
    color: #d32f2f;
  }
 
  .buttons {
    margin-top: 20px;
  }
  
  .yes-button, .no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.yes-button {
  background-color: #4caf50;
  color: white;
  animation: pulse 0.5s ease-in-out infinite alternate; /* Added pulse animation to Yes button */
}

.no-button {
  background-color: #f44336;
  color: white;
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

/* Message styling */
.messages-container {
  margin-top: 20px;
}

.message {
  font-size: 1.2em;
  margin: 10px 0;
  color: #d32f2f;
  opacity: 0;
  transform: translateY(-5px);
  animation: fadeIn 0.2s ease-in-out forwards;
}
.fade-out {
  animation: fadeOut 0.2s forwards;
}
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-5px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
.gif_container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}